body{
    background: #cccccc;
}
#banner{
width:100%;
}
h1{
    text-align: center;
     }
p{
    text-align: center;
}
    #missao {
        font-size: 20px;
    }
em strong {
        color: rgba(255, 0, 98, 0.914);
    }

